
.container {
<<<<<<< HEAD
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "menu2 content";

  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: #f3c221;
  padding: 5px;
}
=======
    display: grid;
    grid-template-areas:
      "header header"
      "menu content"
      "menu2 content";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    background-color: #FAEBD7;
    padding: 5px;
  }
>>>>>>> 53b0549a9868fbf302e2f8c2cf7b0eed742f9f7e
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);

    padding: 10px;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
  }
  .container > div.menu {
    grid-area: menu;
    /* background-color: black; */
  }
  .container > div.content {
    grid-area: content;
  }
  .container > footer {
    grid-area: footer;
  }
  .container > div.menu2{
    grid-area: menu2;
    /* text-align: center; */
  }
<<<<<<< HEAD

=======
  .container >div>table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }

  .container >div>table th{
    background-color: #04AA6D;
    color: white;
  }
  
>>>>>>> 53b0549a9868fbf302e2f8c2cf7b0eed742f9f7e
